In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
popularity = []
voteCount = []
title = []
voteAverage = []
overview = []
releaseDate = []

In [3]:
# Requesting Movies Set and Converting to JSON Object
data = requests.get("https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1")
data = data.json()

In [4]:
# To Find The Total Number Of Pages
totalPages = data['total_pages']
totalPages

500

In [5]:
# Making API Request For Each Page
for i in range(totalPages):
    url = "https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page="+str(i+1)
    data = requests.get(url)
    data = data.json()
    for j in data['results']:
        popularity.append(j['popularity'])
        voteCount.append(j['vote_count'])
        title.append(j['title'])
        voteAverage.append(j['vote_average'])
        overview.append(j['overview'])
        try:
            x = j['release_date']
            releaseDate.append(x)
        except:
             releaseDate.append(np.nan);

In [6]:
dataF = pd.DataFrame(zip(
            popularity,
            voteCount,
            title,
            voteAverage,
            overview,
            releaseDate), 
            columns = ['Popularity',
                       'Vote Count',
                       'Titile',
                       'Vote Average',
                       'Overview',
                       'Release Date'])

In [10]:
dataF.head()

,Popularity,Vote Count,Titile,Vote Average,Overview,Release Date
0,453.361,2875,Ad Astra,5.9,"The near future, a time when both hope and har...",2019-09-17
1,315.622,2653,Bad Boys for Life,7.1,Marcus and Mike are forced to confront new thr...,2020-01-15
2,241.513,1419,Bloodshot,7.2,"After he and his wife are murdered, marine Ray...",2020-03-05
3,209.518,2717,Birds of Prey (and the Fantabulous Emancipatio...,7.1,"Harley Quinn joins forces with a singer, an as...",2020-02-05
4,188.203,3834,Star Wars: The Rise of Skywalker,6.5,The surviving Resistance faces the First Order...,2019-12-18

In [8]:
dataF.to_csv("Top Rated Movie Database.csv")